body {
    background-color: aquamarine;
    
    
    }
    header {
        background-color: #333;
        padding: 20px;
        text-align: center;
        border: 4px solid white;
        box-shadow: inset;
        border-radius: 2%;
    }
    header:hover{
        background-color:#333;
    transform: rotate(x,y);
    border-radius: 2px;
    box-shadow: 7px 6px 6px 6px;
    animation-fill-mode: forwards;
    border-bottom-style: groove;
   max-width:100% ;
   max-height: 100%;

    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        
    }
    
    
    nav li {
        margin-right: 20px;
    }
    nav li:hover{
        background-color:#333;
    transform: rotate(x,y);
    border-radius: 2px;
    box-shadow: 7px 6px 6px 6px;
    animation-fill-mode: forwards;
    border-bottom-style: groove;
   max-width:100% ;
   max-height: 100%;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
    }
    nav a:hover{
        background-color:#333;
    transform: rotate(x,y);
    border-radius: 1px;
    box-shadow: 2px 1px 1px 1px;
    animation-fill-mode: forwards;
    border-bottom-style: groove;
   
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 20px;
        box-shadow: 2px orange
    
    }
    marquee{ 
        font-size: 30px;
        color: darkorange;
        direction: left rtl;
        text-shadow: 7px 6px 6px 6px;
    }
    section{
        background-color:aliceblue;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 2% red;
        offset-distance: 10px;
        border: 4px solid black;
        border-radius: 1%;
        border-color: black;
        border-style: double;
    }
       
    footer{
        background-color: black;
        text-align: center;
        border: 4px solid white;
        color: white;
        border-radius: 5%;
        
    }
    footer:hover{
        background-color:#333333;
    transform: rotate(x,y);
    border-radius: 2px;
    box-shadow: 4px 3px 3px 3px;
    animation-fill-mode: forwards;
    border-bottom-style: groove;
   max-width:100% ;
   max-height: 100%;

    }
    button:hover{
        background-color: rgba(137, 43, 226, 0.517);
        transform: rotate(x,y);
        border-radius: 2px;
        box-shadow: 2px 1px 1px 1px;
        animation-fill-mode: forwards;
        border-bottom-style: groove; 
    }
    .course{

        font-size:23px;
        
        
    }

    .vin{
        font-size:23px;
    }